@charset "UTF-8";

/* パソコン */
@media screen and (min-width: 600px) {
  /*ここにPC用のCSSを記述する*/


  .pc{
    display: block;
  }
  .sp{
    display: none;
  }
  
  @media only screen and (max-width: 600px){
    .pc{
      display: none;
    }
    .sp{
      display: block;
    }
  }
  
  * {
    margin: 0;
    padding: 0;
  }

  html {
    font-size: 100%;
  }

  body {
    font-family: serif;
  }

  .gazo img {
    width: 100%;
  }

  .wrapper {
    text-align: center;
    width: 100%;
    max-width: 100%;
    margin: 0 0;
    padding: 0 0 0;
  }

  .circle {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: solid 2px white;
    text-align: center;
    line-height: 50px;
    position: fixed;
    top: 0px;
    right: 0px;
    /* margin: 0 50px; */
  }

  header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .container {
    display: flex;
    align-items: center;
    margin-left: 150px;
    margin-top: 35px;
  }

  .container2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 250px;
  }

  .container3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 1px;
  }

  .background-white {
    text-align: center;
    margin: 0 0;
    width: 250px;
    height: 50px;
    background: white;
  }

  .background-white img {
    margin: 0 100px 0 0;

    width: 50px;
    height: 50px;
  }

  .migi img {
    margin: 0 100px 0 0;
  }

  .migi2 img {
    margin: 0 100px 0 0;
  }

  .hidari img {
    margin: 0 0 0 160px;
  }

  .text3 {
    position: absolute;
    color: #324e22;
    font-weight: bold;
    font-size: 20px;
    margin: 0 0 0 120px;
  }

  .background-green {
    margin: 0;
    position: relative;
    width: 100%;
    background: #283222;
    color: white;
  }

  .border {
    font-size: 30px;
    height: 60px;
    width: 40px;
    border-bottom: solid 3px #538338;
  }

  .border span {
    font-size: 40px;
  }

  .example {
    font-size: 30px;
  }
  .example2 {
    line-height: 30px;
  }

  .example3 {
    color: #dbad04;
    font-size: 23px;
  }

  .example4 {
    color: #dbad04;
    font-size: 30px;
  }

  .example5 {
    color: #fdfdfb;
  }

  .center {
    text-align: center;
  }
  .center * {
    margin-right: auto;
    margin-left: auto;
  }

  .text4 {
    margin: 0 -470px 0 0;
  }

  .text5 {
    color: #020202;
    font-size: 19px;
    font-weight: bold;
  }

  nav ul {
    display: flex;
    gap: 60px;
  }

  nav li a {
    display: flex;
    flex-direction: column;
    font-size: 11px;
    text-align: center;
  }

  nav li a i {
    font-size: 20px;
  }

  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: white;
    transition: opacity 0.5s;
  }

  section div id p {
    color: #050505;
    font-size: 20px;
    font-weight: bold;
  }

  a:hover {
    opacity: 0.7;
  }

  /* main visual */
  .mv {
    height: 300px;
    object-fit: cover;
  }

  .btn {
    padding: 10px 100px;
    background: #324e22;
    color: #fafafa;
    border-radius: 25px;
  }
  .btn:active {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    border-bottom: none;
  }

  .btn2 {
    padding: 10px 50px;
    background: #b28c04;
    color: #fafafa;
    border-radius: 25px;
  }
  .btn2:active {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    border-bottom: none;
  }

  .btn3 {
    padding: 10px 50px;
    background: #324e22;
    color: #fafafa;
    border-radius: 25px;
  }
  .btn3:active {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    border-bottom: none;
  }

  .cozyspace-img {
    display: inline-block;
    vertical-align: middle;
  }

  .cozyspace-message {
    display: inline-block;
    vertical-align: middle;
  }

  IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  section {
    background: #282828;
    color: white;
    border-radius: 1em;
    padding: 1em;
    top: 100%;
    left: 50%;
    margin-right: 0;
    transform: translate(0%, 0px);
  }

  .googlemap iframe {
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    height: 300px;
    margin: 50px 0;
    padding: 0 0 0 0;
  }

  footer {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 150px;
    color: white;
    list-style: none;
  }

  /*——　文字の右にライン　——*/
  .title-border-right {
    display: flex;
    align-items: center;
  }
  .title-border-right:after {
    border-top: 1px solid;
    content: "";
    flex-grow: 0.03;
    color: #324e22;
  }
  .title-border-right:after {
    margin-left: 1rem;
  }

  .text {
    margin: -30px 100px -45px 0;
  }

  .text6 {
    margin: -20px 0 0 0;
  }

  .text2 {
    text-align: right;
    margin: -20px 130px 0 0;
  }

  .titlebar {
    color: white; /* 文字を白色に */
  }

  .px {
    font-size: 20px;
  }

  .sma {
    display: none;
  }
}





/* スマホ */
@media screen and (max-width: 600px) {
  /*ここにスマホ用のCSSを記述する*/

  /* .example6>div{
    border: 1px solid #999;
    background: #f2f2f2;
    padding: 10px;
    margin: 10px;
} */
/* @media(min-width:601px){
    .sp{
        display: none !important;
    }
}
@media(max-width:600px){
    .pc{
        display: none !important;
    }
} */

.pc{
  display: block;
}
.sp{
  display: none;
}

@media only screen and (max-width: 600px){
  .pc{
    display: none;
  }
  .sp{
    display: block;
  }
}

  * {
    margin: 0;
    padding: 0;
  }

  /* *{
    outline: 1px red solid;
} */

  img {
    max-width: 100%;
    height: auto;
  }

  html {
    font-size: 87.5%;
  }

  main {
    width: 100%;
  }

  body {
    font-family: serif;
    width: 100%;
  }

  .gazo img {
    width: 100%;
  }

  .migi img {
    width: 100%;
    text-align: center;
    margin: 20px 0 0 0;
  }

  .migi2 * {
    margin: 0;
    padding: 0;
  }

  .migi2 img {
    text-align: center;
    /* margin: 0 70px; */
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    border: 2px solid #283222;
  }

  .hidari img {
    text-align: center;
    box-sizing: border-box;
    width: 400px;
    height: 400px;
    padding: 10px;
    border: 2px solid #283222;
  }

  header {
    width: 100%;
   
    
  }

  .wrapper {
    
    text-align: center;
    width: 100%;
    max-width: 100%;
    margin: 0 0;
    padding: 0 0 0;
  }

  .menu {
    /* position: absolute; */
    position: fixed;
    right: 0px;
    /* margin: 0px; */
    padding: 0px; /* 余白指定 */
    /* left:  0px; */
    /* 左からの位置指定 */
    top: 0px; /* 上からの位置指定 */
  }

  /* .circle {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: solid 2px white;
    background: rgb(10, 10, 10);
    text-align: center;
    line-height: 25px;
  } */

  header .wrapper {
    align-items: center;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .container {
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    border: 2px solid rgba(0, 0, 0, 0.2);
  }

  .container2 {
    /* display: flex; */
    justify-content: space-around;
    align-items: center;
    /* margin-left: 250px; */
  }

  .container3 {
    /* display: flex; */
    justify-content: space-around;
    align-items: center;

    display: flex;
    flex-direction: column;
    /* margin-right: 1px; */
  }

  .container3:nth-child(odd) {
    flex-direction: column-reverse;
  }

  .background-white {
    text-align: center;

    margin: 0 0;
    width: 100%;
    height: 25px;
    background: white;
  }

  .background-white::before {
    position: absolute;
    top: -3px;
    left: 55%;
    transform: translateX(-50%);
    color: #283222;
    font-size: 20px;
    text-transform: uppercase;
    content: "茶の風味屋";
    z-index: 1;
  }

  .background-white img {
    margin: 0 100px 0 0;
    width: 25px;
    height: 25px;
  }

  .text3 {
    /* position: absolute;
    color: #324e22;
    font-weight: bold;
    font-size: 10px;
    margin: 0 100px 50px 0;
    display: block; */
    display: none !important;
  }

  .background-green {
    /* position: relative; */
    width: 100%;
    height: 2350px;
    background: #283222;
    color: white;
    background-size: cover;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    /* border: 2px solid rgba(0,0,0,.2); */
  }

  .border {
    font-size: 30px;
    height: 60px;
    width: 40px;
    border-bottom: solid 3px #538338;
  }

  .border span {
    font-size: 40px;
  }

  .example {
    font-size: 30px;
  }
  .example2 {
    line-height: 30px;
  }

  .example3 {
    color: #dbad04;
    font-size: 23px;
  }

  .example4 {
    color: #dbad04;
    font-size: 30px;
  }

  .example5 {
    color: #fdfdfb;
  }

  .center {
    text-align: center;
  }
  .center * {
    margin-right: auto;
    margin-left: auto;
  }

  .text4 {
    margin: 0 0 0 0;

    font-feature-settings: "palt";
    white-space: nowrap;
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    
  }

  .br::before {
    text-align: left;

    content: "\A";
    white-space: pre;
  }

  .text5 {
    color: #020202;
    font-size: 19px;
    font-weight: bold;
  }

  nav ul {
    display: flex;
    gap: 30px;
  }

  nav li a {
    display: flex;
    flex-direction: column;
    font-size: 11px;
    text-align: center;
  }

  nav li a i {
    font-size: 20px;
  }

  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: white;
    transition: opacity 0.5s;
  }

  section div id p {
    color: #050505;
    font-size: 20px;
    font-weight: bold;
  }

  a:hover {
    opacity: 0.7;
  }

  /* main visual */
  .mv {
    height: 300px;
    object-fit: cover;
  }

  .btn {
    padding: 10px 100px;
    background: #324e22;
    color: #fafafa;
    border-radius: 25px;
  }
  .btn:active {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    border-bottom: none;
  }

  .btn2 {
    padding: 10px 50px;
    background: #b28c04;
    color: #fafafa;
    border-radius: 25px;
  }
  .btn2:active {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    border-bottom: none;
  }

  .btn3 {
    padding: 10px 50px;
    background: #324e22;
    color: #fafafa;
    border-radius: 25px;
  }
  .btn3:active {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    border-bottom: none;
  }

  /* .cozyspace-img,
  .cozyspace-message {
    display: inline-block;
    
    
  } */

  footer nav ul {
    display: block;
  }

  .cozyspace-img img {
    align-items: center;
  }

  /* IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
   */
  /* section {
    background: #282828;
    color: white;
    border-radius: 1em;
    padding: 1em;
    top: 100%;
    left: 50%;
    margin-right: 0;
    transform: translate(0%, 0px);
  } */

  .googlemap iframe {
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    height: 300px;
    margin: 50px 0;
    padding: 0 0 0 0;
  }

  footer {
    font-family: Arial, Helvetica, sans-serif;
    /* margin-left: 150px; */
    color: white;
    text-align: center;
    width: 100%;
    list-style: none;
  }

  /*——　文字の右にライン　——*/
  .title-border-right {
    display: flex;
    align-items: center;
  }
  .title-border-right:after {
    border-top: 1px solid;
    content: "";
    flex-grow: 0.03;
    color: #324e22;
  }
  .title-border-right:after {
    margin-left: 1rem;
  }

  .text {
    margin: -20 0 0 0;
  }

  .text6 {
    margin: -20px 0 0 -280px;
  }

  .text2 {
    text-align: center;
    margin: 0 0 0 0;
  }

  .titlebar {
    color: white; /* 文字を白色に */
  }

  .px {
    font-size: 20px;
  }

  /* チェックボックスを非表示にする */
.drawer_hidden {
  display: none;
}

/* ハンバーガーアイコンの設置スペース */
.drawer_open {
  float: right;
  display: flex;
  height: 0px;
  width: 30px;
  margin: -12px 0 0 0;
  justify-content: center;
  align-items: center;
  /* position: relative; */
  z-index: 100;/* 重なり順を一番上にする */
  cursor: pointer;
}

/* ハンバーガーメニューのアイコン */
.drawer_open span,
.drawer_open span:before,
.drawer_open span:after {
  content: '';
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background: #333;
  transition: 0.5s;
  position: absolute;
}


/* 三本線の一番上の棒の位置調整 */
.drawer_open span:before {
  bottom: 8px;
}

/* 三本線の一番下の棒の位置調整 */
.drawer_open span:after {
  top: 8px;
}

/* アイコンがクリックされたら真ん中の線を透明にする */
#drawer_input:checked ~ .drawer_open span {
  background: rgba(255, 255, 255, 0);
}

/* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
#drawer_input:checked ~ .drawer_open span::before {
  bottom: 0;
  transform: rotate(45deg);
}

#drawer_input:checked ~ .drawer_open span::after {
  top: 0;
  transform: rotate(-45deg);
}
 



/* メニューのデザイン*/
.nav_content {
  width: 100%;
  height: 100%;
  position: fixed;
  bottom: 100%;
  left: 70%; /* メニューを画面の外に飛ばす */
  z-index: 99;
  background: rgb(37, 37, 37);
  transition: .5s;
  text-align: center;
  padding-top: 20px;
}

/* メニュー黒ポチを消す */
.nav_list {
  list-style: none;
  padding-left: 0;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(7, auto);
  gap: 10px;
}

.nav_item a {
  color: #fff;
  text-decoration: none;
  list-style: none;
  width: 100px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* アイコンがクリックされたらメニューを表示 */
#drawer_input:checked ~ .nav_content {
  bottom: 0;/* メニューを画面に入れる */
  
}
}
